/* See course notes from master class in folder react-mc-med-kasper */
/* This file is called a something.module.scss because I used to have classes in here, not just variables. */

/* Primary colour */
/* This is Vite's default project's background colour (I didn't change it) */
$clr-dark-grey: #242424;
$clr-dark-grey-transparent: #24242460;

/* Secondary colour */
$clr-white: #ffffff;
$clr-white-transparent: #ffffff60;
/* The primary and secondary colours (black and white respectively) are Vite's defaults. 
The following are three accent colours, React blue being the most used. */
/* "The hex code of the React Logo is #61DBFB. The RGB equivalent is (97, 219, 251)." 
https: //www.schemecolor.com/react-logo-colors.php */
$clr-react-blue: #61DBFB;
/* Purple colour for links before rollover effects in index.css */
$clr-vites-default-purple: #646cff;
$clr-vites-default-light-purple-lm: #747bff; //hover effect in light mode
$clr-vites-default-dark-purple-dm: #535bf2; //hover effect in dark mode
$clr-vites-default-purple--transparent: #646cffaa;
/* Accent colour (complementary colour of Vite's default purple) */
$clr-accent: rgb(239, 239, 23);

