/* See course notes from master class in folder react-intro-mc-med-kasper */
@use "../../styles/sizes" as *;
@use "../../styles/mixins" as *;

/* #region First day's assignments (edited in assignments about responsive nav and about lists) */
/* The following styling is from the first day's assignments (sections 2.2 and 2.5). 
I replaced the hyphens by camel case because spaces are inserted when cutting and pasting,
and an arithmetic error is thrown !
The second day's assignment requires me to create additional classes (2 per component). */

/* IMPORTANT: since elements with class cardWithH2ByMariePierreLessard can exist inside and outside of gridForOlByMariePierreLessard,
some styles disappear if classes are nested inside of gridForOlByMariePierreLessard in SCSS.
This is WHY I didn't do any nesting here.
*/
.gridForOlByMariePierreLessard {
    @include oneColGridByMariePierreLessard;
    margin-top: 2em;
}

@media (min-width: 768px) {
    .gridForOlByMariePierreLessard {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 0;
    }
}

.cardWithH2ByMariePierreLessard {
    padding: 2em;

    h2,
    h3,
    h4,
    header {
        text-align: center;
    }

    h3 {
        margin-top: 2em;
    }

    .olLaByMariePierreLessard {
        @include listByMariePierreLessard;

        /* I had to add the list marker because the automatic numbering of the ol disappear after I added Tailwind to the project. */
        list-style-type: lower-alpha;
    }

    @media (min-width: 768px) {
        .cardWithH3ByMariePierreLessard {
            .columnsByMariePierreLessard {
                /* Source of column-count: 
                www.w3schools.com/cssref/css3_pr_column-count.php  */
                column-count: 2;
            }
        }
    }

    .cardWithH4ByMariePierreLessard {
        padding-inline: 2em;
        /* No padding at the top, otherwise there is too much space between the H4s and the H3. */
        padding-top: 0;
        padding-bottom: 1em;

        @media (min-width: 768px) {
            .cardWithH4ByMariePierreLessard {
                padding-bottom: 2em;
            }
        }

        h4 {
            /* No margin, otherwise there is too much space between the H4s and the H3. */
            margin-top: 0;
        }

        .olDecimalByMariePierreLessard {
            @include listByMariePierreLessard;

            /* I had to add the list marker because the automatic numbering of the ol disappear after I added Tailwind to the project. */
            list-style-type: decimal;
        }
    }
}

.greetingFormByMariePierreLessard {
    input {
        height: 2rem;
    }

    input:first-of-type {
        width: 12rem;
    }

    input:nth-of-type(2) {
        width: 4rem;
    }

    p {
        display: inline;
        margin-left: 3rem;
        margin-right: 1rem;
    }
}

.foreignLangByMariePierreLessard {
    font-style: italic;
}

/* #endregion */

/* #region Assignment 1, section 2.6: Opgave: Du skal skrive minimum to css klasser til hvert komponent. */
/* All brand names are bold. See also styling of h1 and the name React.*/
.brandsByMariePierreLessard {
    font-weight: 700;
}

/* Purpose of this: 
for some reason, an italic font was given by default to the dfn element. 
This is to remove that styling. */
.backToNormalByMariePierreLessard {
    font-style: normal;
}

/* #endregion */