/* See course notes from master class in folder react-intro-mc-med-kasper */
@use "../../styles/sizes" as *;
@use "../../styles/mixins" as *;

/* #region First day's assignments, sections 2.2 and 2.5 */
/* The following styling is Vite's defaults (used in first day's assignments). 
I replaced the hyphens by camel case because spaces are inserted when cutting and pasting, and an arithmetic error is thrown!
The second day's assignment requires me to create additional classes (2 per component). */
.readTheDocs {
    font-size: $single-rem;
    color: #888;
}
/* #endregion */

/* #region Assignment 1, section 2.6: Opgave: Du skal skrive minimum to css klasser til hvert komponent. */
.globalFooterGridByMariePierreLessard {
    @include oneColGridByMariePierreLessard;
    gap: $golden-ratio-in-rems;
    padding: $golden-ratio-in-rems;

    text-align: center;

    .globalFooterLogoByMariePierreLessard {
        justify-self: center;
        height: $gr-rems-cubed;
    }
}
/* #endregion */