@use "../../styles/sizes" as *;
@use "../../styles/mixins" as *;
/* DONE:
Opgave: Du skal skrive minimum to css klasser til hvert komponent. */
/* See course notes from master class in folder react-mc-med-kasper */

/* I chose to make the simple header a grid because once I added Tailwind to the project
(we were learning about that but could choose SCSS instead of Tailwind),
Tailwind's removed all margins and paddings (a CSS reset).
This is a fast way of putting space between the elements. */
.headerGridByMariePierreLessard {
    @include oneColGrid;
    // gap: $golden-ratio-in-rems;
    padding-block: $golden-ratio-in-rems;
    
    h1 {
        font-weight: 700;
    }
    
    .bylineByMariePierreLessard {
        font-size: $three-quarters-gr-rems;
    }
}

