/* This is the style sheet for global styles, created by Vite. */

/* I opted for not using Tailwind because it implements styling over which I have no control on top of my SCSS styling.
More work for nothing! */
// @use "tailwindcss";
@use "./styles/_sizes.scss" as *;
@use "./styles/colors.module.scss" as *;

/* Maybe TO DO: add a button to switch colour theme (this is made possible by CSS in the old index.css, 
which I copied, reorganised and edited below). */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  // color-scheme: light dark;
  color: $clr-white;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* This is an addition to the styling in index.css. */
  font-size: 18px;
}

body {
  margin: 0;
  min-width: 320px;

  /* My changes to selector from index file, on top of deletions */
  display: grid;
  grid-template-columns: 1fr;
  /* Maybe TO DO: if I do the bonus part of the assignment and add a navbar, and if I add it as a 4th child of body,
  I will need to add an auto at the beginning. */
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

/* #root is a div in the index.html file */
#root {
  max-width: $max-width;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em $clr-vites-default-purple--transparent);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

a {
  font-weight: 500;
  color: $clr-vites-default-purple;
  text-decoration: none;
}

a:hover {
  color: $clr-vites-default-dark-purple-dm;
  text-decoration: underline;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: $clr-vites-default-purple;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: $clr-white;
  }

  a:hover {
    color: $clr-vites-default-light-purple-lm;
  }

  button {
    background-color: #f9f9f9;
  }
}