/* This is based on the style sheets for global styles that were created by Vite. */
/* ABOUT .scss versus .module.scss: 
Interestingly, my tests in this project and another project showed the following: 
- If I rename this global style sheet something.module.scss, I lose some (but not all) of the styling. 
  (The global footer was no longer sent to the bottom in my react-gallery-wrapper assignment, which I just started.)
- It is possible to import a style sheet named something.scss (not something.module.scss) in App.tsx and main.tsx. 
  However, the teacher said that it would not work (or is not supposed to work) in the files where the components are defined.
  I changed the extension from .css to .scss because I @used variables in here.
TO DO: ask why  
The following is an old source about the deprecated create-react-app, which we are not using, but this is probably the answer: 
"By default, create-react-app 2.0.0 treats any file that follows the *.module.scss pattern as modular 
and any other *.scss files as global."
https: //medium.com/clover-platform-blog/modular-scss-and-why-you-need-it-6bb2d8c40fd8

"Global styles 
In some cases, you may need to use global styles in CSS Modules,
such as overriding the styles of third-party libraries or setting global styles for specific elements."
https://rsbuild.rs/guide/styling/css-modules#css-modules-recognition-rules
Note: Rsbuild does use React.
"Rsbuild provides a rich set of build features, including support for TypeScript, JSX, Sass, Less, CSS Modules, Wasm, and more."
https: //rsbuild.rs/guide/start/

"One great usage of SASS is to store the various colors used in your app as variables. These variables can then be referenced in other .scss files,
or in this case directly in your React components. (...) But if you want to extract this color to use directly in a React component,
you’ll have to make the following updates: (...)
// Rename _colors.scss to _colors.module.scss
$primaryColor: $1d6dd3;
:export {
    primary: $primaryColor;
}
Adding the .module part into the filename allows it to be imported into a React component and any key-value pair in the :export section is accessible like this: 
// CircleSvg.js
import colors from '_colors.module.scss';
function CircleSvg() {
    return <svg><g fill= {colors.primary}>...</g></svg>;
}
(...)
Your existing .scss files can still import the file as normal just by adding the .module part to the filename.
"
https://medium.com/@UReyesMeUp/using-sass-variables-in-your-react-components-e3813a6cc81e
Note: since we don't need to use :export, I am thinking that this source is either too old (2019) 
or based on another tech stack than the one we are using. 
*/

/* I opted for not using Tailwind because it implements styling over which I have no control on top of my SCSS styling.
More work for nothing! */
/* @use "tailwindcss"; */
@use "./styles/_sizes.scss" as *;
@use "./styles/colors.module.scss" as *;

/* If I add the following universal selector, the body element's default margin of 8px (provided by the browser)
does disappear (see DevTools, Elements tab, and then body styling under "user agent stylesheet"). 
* {
    margin: 0;
}
*/

/* Maybe TO DO: add a button to switch colour theme (this is made possible by CSS in the old index.css, 
which reorganised and edited below). */

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    /* color-scheme: light dark; */
    color: $clr-white;
    background-color: $clr-dark-grey; 

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Addition to styling from file index.css. */
    font-size: 18px;
}

/* #root is a div in the index.html file 
IMPORTANT: #root and :root are not the same element!
TO DO:
Known facts: 
*    #root (<div id="root" ></div> in the .html file) is the parent of <App />
*    According to DevTools, :root is the html element since the styling (e.g. font-size: 18px; ) is listed 
     under "Inherited from html" in the tab Elements. 
**    That is amazing to me because this scss file is NOT imported by the HTML file. It is imported by main.tsx, 
      which creates a root element with: 
      createRoot(document.getElementById('root')!).render();
      So how can the styling apply to an ancestor of #root?
Q to teacher to check:
is :root the component <App />, the parent of <App /> (#root) or the html element?
Probable A: the latter. But why? 
*/
#rootByMariePierreLessard {
    /* A little styling from the file index.css remains,
    but I changed a lot. */
    margin: 0 auto;
    /* This padding is on top of the default margin on body (from the user-agent stylesheet).
    That margin is still there because there is no universal selector in this project. */
    padding: 2rem;
    max-width: $max-width;

    /* Normally, this styling is applied to body in order to send the footer all the way to the bottom on all screens. 
    However, it is not possible to access the body element from the app since the app is in a div inside of body. 
    It works to apply this styling to #root instead. */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
}

a {
    font-weight: 500;
    color: $clr-vites-default-purple;
    text-decoration: none;
}

a:hover {
    color: $clr-vites-default-dark-purple-dm;
    text-decoration: underline;
}

button {
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: $clr-white;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: $clr-react-blue;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: $clr-white;
    }

    a:hover {
        color: $clr-vites-default-light-purple-lm;
    }

    button {
        background-color: #f9f9f9;
    }
}