/* Source: react-modal-codealong-med-kasper */
@use "../../styles/colors.module.scss" as *;

.viewerByMariePierreLessard {
    background-color: $clr-dark-grey;
    box-shadow: 0px 0px 20px $clr-dark-grey;
    min-width: 320px;
    max-width: 80vw;
    min-height: 320px;
    max-height: 80vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* I had a hard time getting the image to fit inside of its container.
    There is something different in this situation (perhaps the fact that it is a modal, or the resolution of my picture),
    which requires me to use additional properties to deal with the large picture. 
    Kasper said that this is purely a CSS problem, not sth due to React. 
    
    display: grid; works better than display: flex;
    from the point of view of shrinking the picture and keeping the desired padding on all sides.
    */
    overflow: scroll;

    display: grid;
    grid-template-columns: 1fr;
    padding: 2em;
    
    div {
        justify-self: center;
        max-width: 70vw;
        max-height: 70vh;
    }


}